/*

* Override Pages default styles or create your own styles here

*/

.form-control:focus {
background-color: #f4fbff;
}
.select2-results .select2-results__option--highlighted {
background-color: #f4fbff !important;
border-radius: 3px;
color: #626262 !important;
}

.select2-container--open .select2-selection {
background-color: #f4fbff;
}

.form-group-default.required:after{
	content: none;
}

label span {
	color: #f55753;
	font-size: 1rem;
	font-family: arial;
	padding-left: : 20px;

}